<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu - Naivedya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/menu.css">
</head>


<body>
    <div class="header">
        {{>Navbar}}
    </div>
    <div class="products">
        <div class="container">
            <div class="first-div">
                <div class="search-bar">
                    <table class="elementsContainer">
                        <tr>
                            <td>
                                <input type="text" placeholder="Search" class="search" name="search_input" value="{{search}}">
                            </td>
                            <td>
                                <a class="search_href" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="featured">
                    {{#sortBySelect sortby 1}}
                    <a class="featured"><span>Price: Low To High</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    {{/sortBySelect}}
                    {{#sortBySelect sortby 2}}
                    <a class="featured"><span>Price: High To Low</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    {{/sortBySelect}}
                    {{#sortBySelect sortby 3}}
                    <a class="featured"><span>Ascending: A to Z</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    {{/sortBySelect}}
                    {{#sortBySelect sortby 4}}
                    <a class="featured"><span>Ascending: Z to A</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    {{/sortBySelect}}
                    {{#unless sortby}}
                    <a class="featured"><span>Featured</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    {{/unless}}


                    <svg class="featured_svg" viewBox="0 0 20 9" role="presentation">
                        <path
                            d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z"
                            fill="#ffffff"></path>
                    </svg>
                    <div class="dropdown-content1">
                        {{#sortBySelect sortby 1}}
                        <a href="?sortby=1" id="feature0" class="active" onclick="addNewFeature(this)">Price: Low To
                            High</a>
                        <a href="?sortby=2" id="feature1" onclick="addNewFeature(this)">Price: High To Low</a>
                        <a href="?sortby=3" id="feature2" onclick="addNewFeature(this)">Ascending: A to Z</a>
                        <a href="?sortby=4" id="feature3" onclick="addNewFeature(this)">Ascending: Z to A</a>
                        {{/sortBySelect}}
                        {{#sortBySelect sortby 2}}
                        <a href="?sortby=1" id="feature0" onclick="addNewFeature(this)">Price: Low To High</a>
                        <a href="?sortby=2" id="feature1" class="active" onclick="addNewFeature(this)">Price: High To
                            Low</a>
                        <a href="?sortby=3" id="feature2" onclick="addNewFeature(this)">Ascending: A to Z</a>
                        <a href="?sortby=4" id="feature3" onclick="addNewFeature(this)">Ascending: Z to A</a>
                        {{/sortBySelect}}
                        {{#sortBySelect sortby 3}}
                        <a href="?sortby=1" id="feature0" onclick="addNewFeature(this)">Price: Low To High</a>
                        <a href="?sortby=2" id="feature1" onclick="addNewFeature(this)">Price: High To Low</a>
                        <a href="?sortby=3" id="feature2" class="active" onclick="addNewFeature(this)">Ascending: A to
                            Z</a>
                        <a href="?sortby=4" id="feature3" onclick="addNewFeature(this)">Ascending: Z to A</a>
                        {{/sortBySelect}}
                        {{#sortBySelect sortby 4}}
                        <a href="?sortby=1" id="feature0" onclick="addNewFeature(this)">Price: Low To High</a>
                        <a href="?sortby=2" id="feature1" onclick="addNewFeature(this)">Price: High To Low</a>
                        <a href="?sortby=3" id="feature2" onclick="addNewFeature(this)">Ascending: A to Z</a>
                        <a href="?sortby=4" id="feature3" class="active" onclick="addNewFeature(this)">Ascending: Z to
                            A</a>
                        {{/sortBySelect}}
                        {{#unless sortby}}
                        <a href="?sortby=1" id="feature0" onclick="addNewFeature(this)">Price: Low To High</a>
                        <a href="?sortby=2" id="feature1" onclick="addNewFeature(this)">Price: High To Low</a>
                        <a href="?sortby=3" id="feature2" onclick="addNewFeature(this)">Ascending: A to Z</a>
                        <a href="?sortby=4" id="feature3" onclick="addNewFeature(this)">Ascending: Z to A</a>
                        {{/unless}}
                    </div>
                </div>
            </div>


            {{#if products}}
            <div class="product-items">
                {{#each products}}
                <div class="product">
                    <div class="product-content">
                        <img src="{{image}}" alt="product image">
                    </div>

                    <div class="product-info">
                        <a href="#" class="product-name">{{name}}</a>
                        <p class="description"
                            style="height: 20px; width: 100%; overflow: hidden; margin-bottom: 0; color: #777777">
                            {{description}}</p>
                        {{!-- <p class="product-price">Rs {{price}}.00</p> --}}
                        <div class="price-addToCart ">
                            <p class="product-price ">Rs {{price}}.00</p>
                            <a class="addToCart " href="/addToCart/{{_id}}">Add To Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p style="font-size: 25px; font-weight: 500; width: 100%; text-align:center; margin: 100px 0">Sorry, No Products Available.
                Please search another item.</p>
            {{/if}}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content">
                <a href="#" class="brand-logo">Nai<span>vedya</span></a>
                <div class="icons">
                    <a href="https://github.com/AryanKhurana/Ristoranto" class="footer__social"><i
                            class='fab fa-facebook-f'></i></a>
                    <a href="https://www.instagram.com/naivedya2020.3/" class="footer__social"><i
                            class='fab fa-instagram'></i></a>
                    <a href="https://github.com/AryanKhurana/Ristoranto" class="footer__social"><i
                            class='fab fa-github'></i></a>
                </div>
            </div>

            <div class="services">
                <h3 class="title">Navigation</h3>
                <ul>
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/menu" class="link">Menu</a></li>
                    <li><a href="/about" class="link">About Us</a></li>
                    <li><a href="/table" class="link">Book Table</a></li>
                </ul>
            </div>

            <div class="address">
                <h3 class="title">Address</h3>
                <ul>
                    <li>Sambhaji Nagar</li>
                    <li>St. Anthony Road</li>
                    <li>Chembur</li>
                    <li>Mumbai-400071</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        M.Sidenav.init(document.querySelectorAll('.sidenav'));

        setInterval(() => {

            if (window.location.href.includes('?')) {
                if (window.location.href.includes("?search=")) {
                    if (!window.location.href.includes("&sortby=")) {
                        var mySubString = window.location.href.substring(
                            window.location.href.lastIndexOf("?"),
                            window.location.href.length - 1
                        );
                        document.querySelector('.search_href').href = window.location.href.replace(mySubString, "?search=" + document.querySelector('.search').value);
                    } else {
                        var mySubString = window.location.href.substring(
                            window.location.href.lastIndexOf("?"),
                            window.location.href.lastIndexOf("&sortby")
                        );
                        document.querySelector('.search_href').href = window.location.href.replace(mySubString, "?search=" + document.querySelector('.search').value);
                    }
                }
                else if (window.location.href.includes("&search=")) {
                    var mySubString = window.location.href.substring(
                        window.location.href.lastIndexOf("?"),
                        window.location.href.length - 1
                    );
                    document.querySelector('.search_href').href = window.location.href.replace(mySubString, "&search=" + document.querySelector('.search').value);
                }
            }
            else {
                document.querySelector('.search_href').href = "?search=" + document.querySelector('.search').value;
            }
        }, 1000);

        if (window.location.href.includes('?')) {
            var x = document.querySelectorAll('.dropdown-content1 a');
            for (let i = 0; i < x.length; i++) {
                if (!window.location.href.includes('sortby=4') && !window.location.href.includes('sortby=3') && !window.location.href.includes('sortby=2') && !window.location.href.includes('sortby=1')) {
                    var p = String(parseInt((x[i].id).slice(-1)) + 1);
                    x[i].href = window.location.href + "&sortby=" + p;
                }
                else {
                    var p = String(parseInt((x[i].id).slice(-1)) + 1);
                    if (window.location.href.includes("sortby=" + p)) {
                        console.log("Hii")
                        x[i].href = window.location.href;
                        x[i].href = x[i].href.replace("&sortby=" + p, "");
                        x[i].href = x[i].href.replace("?sortby=" + p, "");
                    }
                    else {
                        x[i].href = window.location.href;
                        x[i].href = x[i].href.replace("sortby=1", "sortby=" + p);
                        x[i].href = x[i].href.replace("sortby=2", "sortby=" + p);
                        x[i].href = x[i].href.replace("sortby=4", "sortby=" + p);
                        x[i].href = x[i].href.replace("sortby=3", "sortby=" + p);
                    }
                }
            }
        }

        function openAndCloseFilter() {
            var x = $('.filter-section');
            if (!x.hasClass('active')) {
                x.addClass('active');
            } else {
                x.removeClass('active');
            }
        }
        $('a.featured').click(function () {
            var x = $('.dropdown-content1');
            var y = $('.featured_svg');
            if (!x.hasClass('active')) {
                x.addClass('active');
                y.addClass('active');
            } else {
                x.removeClass('active');
                y.removeClass('active');
            }
        })

        var featureValue = -1;

        function addNewFeature(item) {
            var str = item.id;

            if (featureValue != -1) {
                var prevActive = $('#feature' + featureValue);
            }

            var res = str.charAt(str.length - 1);
            var final = res - '0';

            var itemClickedData = document.querySelector("a#feature" + final);
            var itemClicked = $("a#feature" + final);

            var featureTag = document.querySelector('div.featured a.featured span');

            if (featureValue != -1) {
                prevActive.removeClass('active');
                itemClicked.addClass('active');
                featureTag.innerHTML = itemClickedData.innerHTML;
                featureValue = final;
            } else {
                itemClicked.addClass('active');
                featureTag.innerHTML = itemClickedData.innerHTML;
                featureValue = final;
            }
        }
    </script>

</body>

</html>