<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/success.css">
    <title>Success</title>
</head>

<body>
    <div class="box">
        <div class="heading">
            Transaction Successfull
        </div>
        <div class="user_details">
            <div class="user">
                Name: {{user}}
            </div>
            <div class="user">
                Date: {{date}}
            </div>
            <div class="user">
                Address: {{address}}
            </div>
        </div>
        <div class="items">
            <div class="headings row">
                <div class="col-md-5 col-6">Product Name</div>
                <div class="col-2">Quantity</div>
                <div class="col-2">Amount</div>
                <div class="col-md-3 col-6">SubTotal</div>
            </div>
            {{#each products}}
            <div class="body_data row">
                <div class="name col-md-5 col-6">{{price_data.product_data.name}}</div>
                <div class="quantity col-2">{{quantity}}</div>
                <div class="amount col-2">Rs. <span>{{price_data.unit_amount}}</span></div>
                <div class="subTotal col-md-3 col-6">Rs. <span>1000</span></div>
            </div>
            {{/each}}
            <div class="body_data row">
                <div class="name col-md-5 col-6">Delivery Charges</div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-sm-3 col-6">Rs. <span>40</span></div>
            </div>
            <div class="footer_data row">
                <div class="col-md-9 col-6">Total Amount</div>
                <div class="col-md-3 col-6">Rs. <span class="totalValue">1000</span></div>
            </div>
        </div>
        <div class="footer_details">
            <p>Thank you for your business.</p>
            <a href="/">Home</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <script>
            var quantity = document.querySelectorAll('.quantity')
            var amount = document.querySelectorAll('.amount span')
            var subTotal = document.querySelectorAll('.subTotal span')
            var sum = 0;

            for (var i = 0; i < quantity.length; i++) {
                subTotal[i].innerHTML = parseInt(quantity[i].innerHTML) * parseInt(amount[i].innerHTML) / 100;
                amount[i].innerHTML = parseInt(amount[i].innerHTML) / 100;
                sum += parseInt(subTotal[i].innerHTML);
            }
            console.log(sum)
            document.querySelector('.totalValue').innerHTML = sum + 40;
    </script>
</body>

</html>